<!--**********************************
            Content body start
        ***********************************-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div
                    class="card-body"
                    style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    "
                >
                    <button
                        type="button"
                        class="btn btn-rounded btn-outline-dark"
                        id="temperature-btn"
                        style="width: 50%"
                    >
                        온도
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div
                    class="card-body"
                    style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    "
                >
                    <button
                        type="button"
                        class="btn btn-rounded btn-outline-dark"
                        id="co2-btn"
                        style="width: 50%"
                    >
                        이산화탄소
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div
                    class="card-body"
                    style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    "
                >
                    <button
                        type="button"
                        class="btn btn-rounded btn-outline-dark"
                        id="ph-btn"
                        style="width: 50%"
                    >
                        pH
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- /# column -->
    <div class="row">
        <div class="col-xl col-lg col-md">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Data Overview</h4>
                    <button
                        type="submit"
                        class="btn btn-dark"
                        id="downloadExcel"
                    >
                        Excel로 다운로드
                    </button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl col-lg">
                            <script>
                                // EJS 템플릿에서 데이터를 JavaScript 변수로 설정
                                var batchIds = JSON.parse('<%- batchIds %>');
                                // EJS 템플릿에서 데이터를 JavaScript 변수로 전달
                                var temperatureData = JSON.parse(
                                    '<%- temperatureData %>',
                                );
                                console.log(temperatureData);
                            </script>
                            <canvas
                                id="temperatureChart"
                                style="display: block; pointer-events: auto"
                            ></canvas>
                            <canvas
                                id="co2Chart"
                                style="display: none; pointer-events: auto"
                            ></canvas>
                            <canvas
                                id="pHChart"
                                style="display: none; pointer-events: auto"
                            ></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div
                        class="dynamic-container row mt-4"
                        style="display: flex"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
        Content body end
    ***********************************-->

<!-- Load Chart.js library first -->
<!-- pan 기능 동작을 위해서 3가지 코드를 순서대로 작성한다. -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.2.0"></script>

<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.7/dayjs.min.js"></script>
<!-- Include the duration plugin -->
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.7/plugin/duration.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>

<script>
    dayjs.extend(window.dayjs_plugin_duration);
</script>

<!-- Load your custom chart script after Chart.js library -->
<script src="/js/archive-linechart.js"></script>

<script src="/js/downloadExcel.js"></script>

<script>
    // 페이지가 로드될 때 초기 설정
    document.addEventListener('DOMContentLoaded', function () {
        showSVGSection();
        updateSVGImages('temperature', batchIds); // 초기값으로 '온도' 데이터를 로드
    });

    // 버튼 클릭 시 이벤트 리스너 설정
    document
        .getElementById('temperature-btn')
        .addEventListener('click', function () {
            showSVGSection();
            updateSVGImages('temperature', batchIds);
        });

    document.getElementById('co2-btn').addEventListener('click', function () {
        showSVGSection();
        updateSVGImages('co2', batchIds);
    });

    document.getElementById('ph-btn').addEventListener('click', function () {
        hideSVGSection(); // pH 클릭 시 섹션 숨기기
    });

    // 이미지 업데이트 함수
    function updateSVGImages(type, batchIds) {
        const imagePaths = {
            temperature: [
                'volatility_analysis',
                'change_point_detection',
                'histograms',
                'clustring',
            ],
            co2: [
                'volatility_analysis',
                'change_point_detection',
                'histograms',
                'clustring',
            ],
        };

        const container = document.querySelector('.dynamic-container');
        container.innerHTML = ''; // 기존 내용을 초기화
        console.log(imagePaths);
        // 각 batchId에 대해 4개의 이미지를 추가
        batchIds.forEach((batchId) => {
            imagePaths[type].forEach((analysisType, index) => {
                const colDiv = document.createElement('div');
                colDiv.classList.add('col-lg-6', 'col-sm-6');

                const card = document.createElement('div');
                card.classList.add('card');
                card.innerHTML = `
                <div class="card-header" style="display: flex; justify-content: center; ">
                    <h3 class="card-title">Batch ${batchId}</h4>
                </div>
                <div class="card-body">
                    <img src="/images/svgs/${type}_${analysisType}_${batchId}.svg" class="img-fluid" alt="${type} ${analysisType} 이미지"/>
                </div>
            `;

                colDiv.appendChild(card);
                container.appendChild(colDiv);
            });
        });
    }

    // SVG 섹션 숨기기 함수 (pH 버튼 클릭 시)
    function hideSVGSection() {
        const svgSection = document.querySelector('.dynamic-container');
        if (svgSection) {
            svgSection.style.display = 'none';
        }
    }

    // SVG 섹션 보이기 함수 (온도, CO2 버튼 클릭 시)
    function showSVGSection() {
        const svgSection = document.querySelector('.dynamic-container');
        if (svgSection) {
            svgSection.style.display = 'flex'; // 다시 표시할 때 flex로 설정
        }
    }
</script>
