<!--**********************************
            Content body start
        **********************************-->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
/>

<link
            href="./vendor/bootstrap-daterangepicker/daterangepicker.css"
            rel="stylesheet"/>


			<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<div class="container-fluid">
	<!-- 최근 센서 데이터 표기 -->
	<div class="row">
		<div class="col-lg col-sm-6">
			<div class="card">
				<button
					type="button"
					id="temperature-btn"
					class="btn btn-rounded btn-outline-dark"
				>
					<div class="stat-widget-two card-body">
						<div class="stat-content">
							<!-- 해당 태그의 id를 주고 서버에서 어떤 센서 데이터를 요구하는지 구별할 수 있게 한다. -->
							<div class="stat-text">온도</div>
							<div class="stat-digit">
								<strong id="temperature">Loading...</strong>
							</div>
						</div>
						<div>
                            <i
                                class="fa fa-caret-up"
                                id="temperatureChangeIcon"
                            ></i>
                            <span class="change-value" id="temperatureChange">
                                0.00
                            </span>
                            <br />
                            <span
                                class="percent-point"
                                id="temperatureChangePercent"
                            >
                                0.00%
                            </span>
                        </div>
					</div>
				</button>
			</div>
		</div>
		<div class="col-lg col-sm-6">
			<div class="card">
				<button
					type="button"
					id="co2-btn"
					class="btn btn-rounded btn-outline-dark"
				>
					<div class="stat-widget-two card-body">
						<div class="stat-content">
							<div class="stat-text">이산화탄소</div>
							<div class="stat-digit">
								<strong id="co2">Loading...</strong>
							</div>
						</div>
						<div>
                            <i class="fa fa-caret-up" id="co2ChangeIcon"></i>
                            <span class="change-value" id="co2Change">0.00</span>
                            <br />
                            <span class="percent-point" id="co2ChangePercent">
                                0.00%
                            </span>
                        </div>
					</div>
				</button>
			</div>
		</div>
		<div class="col-lg col-sm-6">
			<div class="card">
				<button
					type="button"
					id="pH-btn"
					class="btn btn-rounded btn-outline-dark"
				>
					<div class="stat-widget-two card-body">
						<div class="stat-content">
							<div class="stat-text">pH</div>
							<div class="stat-digit">
								<strong id="pH">Loading...</strong>
							</div>
						</div>
						<div>
                            <i class="fa fa-caret-up" id="pHChangeIcon"></i>
                            <span class="change-value" id="pHChange">
                                0.00
                            </span>
                            <br />
                            <span class="percent-point" id="pHChangePercent">
                                0.00%
                            </span>
                        </div>
					</div>
				</button>
			</div>
		</div>
		<div class="col-lg col-sm-6">
    <div class="card">
        <div class="stat-widget-two card-body">
            <div class="stat-content" style="  margin-bottom: 10px;">
                <div class="stat-text">발효조 상태</div>
            </div>
            
                <!-- 일시정지 버튼 (처음 상태) -->
                <button
                    id="pauseButton"
                    type="button"
                    class="btn btn-rounded btn-outline-dark"
                    style="width: 100%;  margin-bottom: 25px;"
                    onclick="togglePlayPause()"
                >
                    <i id="pauseIcon" class="fas fa-pause"></i> <!-- 일시정지 아이콘 -->
                </button>
				
                <!-- 정지 버튼 -->	
                <button
                    id="stopButton"
                    type="button"
                    class="btn btn-rounded btn-outline-dark"
                    style="width: 100%;"
                    onclick="stop()"
                >
                    <i class="fas fa-stop"></i> <!-- 정지 아이콘 -->
                </button>
            
        </div>
    </div>
</div>

		<!-- /# card -->
	</div>
	<!-- /# column -->
	<div class="row">
		<div class="col-xl col-lg col-md">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Data Overview</h4>
                    <button
                        type="submit"
                        class="btn btn-dark"
                        id="downloadExcel"
                    >
                        Excel로 다운로드
                    </button>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-xl col-lg" style="height: 400px">
							<canvas id="lineChart"></canvas>
                            <script>
								// EJS 템플릿에서 데이터를 JavaScript 변수로 설정
								var batchIds = JSON.parse('<%- batchId %>');
								// EJS 템플릿에서 데이터를 JavaScript 변수로 전달
								var temperatureData = JSON.parse('<%- temperatureData %>');
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<style>
		#lineChart {
			width: 100%;
			height: 100%; /* 부모 요소의 크기에 맞게 차트를 조절 */
		}
	</style>
	<div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">
                                        알림 범위 설정하기
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-validation">
                                        <form
                                            class="form-valide"
                                            action="/dashboard/limit"
                                            method="post"
                                        >
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label
                                                            class="col-lg-4 col-form-label"
                                                            for="val-daterange"
                                                        >
                                                            기간
                                                        </label>
                                                        <div class="col-lg-6">
                                                            <input
                                                                type="text"
                                                                class="form-control input-daterange-timepicker"
                                                                name="daterange"
                                                                placeholder="미입력시 자동으로 처음부터 지금까지 설정됩니다."
                                                            />
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-group row">
                                                        <label
                                                            class="col-lg-4 col-form-label"
                                                            for="val-sensor"
                                                        >
                                                            센서 종류
                                                            <span
                                                                class="text-danger"
                                                            >
                                                                *
                                                            </span>
                                                        </label>
                                                        <div class="col-lg-6">
                                                            <select
                                                                class="form-control"
                                                                name="val-sensor"
                                                            >
                                                                <option
                                                                    value=""
                                                                >
                                                                    데이터를
                                                                    선택해
                                                                    주세요
                                                                </option>
                                                                <option
                                                                    value="temperature"
                                                                >
                                                                    온도
                                                                </option>
                                                                <option
                                                                    value="co2"
                                                                >
                                                                    이산화탄소
                                                                </option>
                                                                <option
                                                                    value="ph"
                                                                >
                                                                    pH
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                            class="col-lg-4 col-form-label"
                                                            for="val-upper-limit"
                                                        >
                                                            상한값
                                                            <span
                                                                class="text-danger"
                                                            >
                                                                *
                                                            </span>
                                                        </label>
                                                        <div class="col-lg-6">
                                                            <input
                                                                type="text"
                                                                class="form-control"
                                                                name="val-upper-limit"
                                                                placeholder="이 값을 넘어서면 알림"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label
                                                            class="col-lg-4 col-form-label"
                                                            name="val-lower-limit"
                                                        >
                                                            하한값
                                                            <span
                                                                class="text-danger"
                                                            >
                                                                *
                                                            </span>
                                                        </label>
                                                        <div class="col-lg-6">
                                                            <input
                                                                type="text"
                                                                class="form-control"
                                                                name="val-lower-limit"
                                                                placeholder="이 값을 내려가면 알림"
                                                            />
                                                        </div>
                                                    </div>
													<input type="hidden" name="batchId" value="<%= batchId %>" />
                                                    <div class="form-group row">
                                                        <div
                                                            class="col-lg-8 ml-auto"
                                                        >
                                                            <button
                                                                type="submit"
                                                                class="btn btn-dark"
                                                            >
                                                                알림 설정
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

	<div class="row">
    <div class="col-xl col-lg col-md">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">알림 테이블</h4>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>시작시간</th>
                            <th>종료시간</th>
                            <th>센서 종류</th>
                            <th>상한값</th>
                            <th>하한값</th>

                        </tr>
                    </thead>
                    <tbody id="notificationTableBody">
                        <!-- 데이터를 여기에 추가 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

	<!-- 알림 범위를 해제하는 UI는 어떻게 구현할지 미정 -->
	<!-- 이 아래에서 통계 같은 것 시각화-->
	<!-- <div class="row">
		<div class="col-lg-4">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">데이터</h4>
				</div>
				<div class="card-body">--- heatmap --- 만들기</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">데이터 2</h4>
				</div>
				<div class="card-body">---Density Plot--- 만들기</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">데이터 3</h4>
				</div>
				<div class="card-body">아직 정하지 못했습니다.</div>
			</div>
		</div>
	</div> -->
</div>
</div>

                <!--**********************************
            Content body end
        ***********************************-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

<!-- Load Chart.js library first -->
 <!-- pan 기능 동작을 위해서 3가지 코드를 순서대로 작성한다. -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.2.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>

<!-- Daterangepicker -->
<!-- momment js is must -->
<script src="./vendor/moment/moment.min.js"></script>
<script src="./vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- Daterangepicker -->
<script src="./js/plugins-init/bs-daterange-picker-init.js"></script>

<!-- Load your custom chart script after Chart.js library -->
<script src="/js/dashboard-linechart.js"></script>
<script src="/js/dashboard-updatechange.js"></script>
<script src="/js/dashboard-limit-table.js"></script>
<script src="/js/dashboard-pauseButton.js"></script>
<script src="/js/downloadExcel.js"></script>
     

<script>
	var baseURL = window.location.origin;
	$(function() {
    var now = new Date(); // 현재 시간 가져오기

    // daterangepicker 초기화
    $('input[name="daterange"]').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        timePickerSeconds: true,
        startDate: now, // 시작 시간 제한
        minDate: now, // 현재 시간 이후만 선택 가능
        locale: {
            format: 'YYYY-MM-DD HH:mm:ss' // 원하는 포맷 설정
        }
    });
});
	function fetchData() {
		$.ajax({
			url: `${baseURL}/api/sensor/latest?batchId=${batchIds}`, // 요청 URL을 /sensor/latest로 변경하고 batchId를 쿼리 파라미터로 전달
			method: "GET",
			success: function (data) {
				if (data) {
					$("#temperature").text(data.latestData.in_temperature || "N/A");
					$("#co2").text(data.latestData.co2_concentration || "N/A");
					$("#pH").text(data.latestData.ph || "N/A");
					
					// 변화량 업데이트 및 색상 설정
					updateChangeValue(
						'#temperatureChange',
						data.differences.in_temperature,
						data.percentageDifferences.in_temperature,
						'#temperatureChangeIcon',
						'#temperatureChangePercent',
					);
					updateChangeValue(
						'#co2Change',
						data.differences.co2_concentration,
						data.percentageDifferences.co2_concentration,
						'#co2ChangeIcon',
						'#co2ChangePercent',
					);
					updateChangeValue(
						'#pHChange',
						data.differences.ph,
						data.percentageDifferences.ph,
						'#pHChangeIcon',
						'#pHChangePercent',
					);

				} else {
					$("#temperature").text("No data available");
					$("#co2").text("No data available");
					$("#pH").text("No data available");
				}
			},
			error: function () {
				$("#temperature").text("Error loading data");
				$("#co2").text("Error loading data");
				$("#pH").text("Error loading data");
			},
		});
	};
	// 최초 데이터 로드
        fetchData();

        // 1분마다 데이터 업데이트
        setInterval(fetchData, 60 * 1000); // 60초마다 fetchData 호출
</script>
            </div>
        </div>
    </div>
</div>
