body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7fafc; /* 기본 배경색 설정 */
    margin: 0; /* 기본 여백 제거 */
}

.header {
    display: flex;
    align-items: center;
    background-color: #f7fafc;
    padding: 10px 20px; /* 패딩 조정 */
    border-bottom: 1px solid #e5e7eb;
    height: 56px; /* 높이 고정 */
    margin-left: 250px;
    width: calc(100% - 400px); /* Sidebar width를 제외한 나머지 부분 */
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    box-sizing: border-box; /* 패딩과 보더를 포함한 전체 크기 설정 */
}

.header.collapsed {
    margin-left: 0;
    width: 100%;
}

.nav-buttons {
    flex-grow: 1;
    display: flex;
    gap: 10px;
    align-items: center;
}

.header button, .nav-button {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background 0.3s, color 0.3s;
    height: 36px;
    line-height: 1.5;
}

.header button:hover, .nav-button:hover {
    background: #e2e8f0;
    color: #007bff;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
    transition: color 0.3s, background 0.3s;
    margin-right: 20px;
    color: #333;
    position: absolute;
    top: 25px; /* 위치 조정 */
    left: 10px;
    z-index: 1100;
    height: 36px;
}

.menu-button:hover {
    color: #007bff;
    background: #e2e8f0;
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #f7fafc; /* 사이드바 배경색 설정 */
    padding: 40px 20px 20px;
    overflow-y: auto;
    border-right: 1px solid #e5e7eb;
    z-index: 1000;
    transition: transform 0.3s ease-in-out; /* 애니메이션 추가 */
}

.sidebar.hidden {
    transform: translateX(-100%); /* 숨기기 */
}

.batch-list {
    margin-top: 2.5rem;
}

.batch-item {
    background: #f1f5f9;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    color: #333;
    position: relative;
}

.batch-options {
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1050;
}

.batch-options.visible {
    display: block;
}

.batch-options button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.batch-options button:hover {
    background: #f1f5f9;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* 남은 여백을 채우기 위해 추가 */
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    margin-left: 250px; /* Sidebar width */
    width: calc(100% - 250px); /* Sidebar width를 제외한 나머지 부분 */
}

.container.active {
    display: flex;
}

.container.collapsed {
    margin-left: 0;
    width: 100%;
}

.card {
    border: 1px solid #e5e7eb;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.card h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card .value {
    font-size: 3rem;
    font-weight: bold;
}

.card .change {
    font-size: 1.5rem;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.input-container input[type="number"] {
    width: 60px;
    text-align: right;
    margin-left: 10px;
    border: 1px solid #cbd5e0;
    border-radius: 4px;
    padding: 0.5rem;
    background: #f7fafc;
}

.input-container input[type="range"] {
    flex: 1;
}

.slider-label {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

/* 반응형 사이드바 숨기기 */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.hidden {
        transform: translateX(0);
    }

    .header {
        margin-left: 0;
        width: 100%;
    }

    .container {
        margin-left: 0;
        width: 100%;
    }
}


.dynamic-font-size {
    font-size: calc(2rem + 1vw);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dynamic-font-size.small {
    font-size: 1rem;
}