<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주세 신고서</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/report.css">
</head>
<body class="bg-gray-100 p-4">
<div class="header max-w-full mx-auto bg-white shadow-md rounded-lg p-6">
    <div class="nav-buttons">
        <button type="button" onClick="location.href='/dashboard'">DashBoard</button>
        <button type="button" class="nav-button" onClick="location.href='/detailed_data'">상세 데이터</button>
        <div class="dropdown">
            <button type="button" class="nav-button" onClick="location.href='/report'">보고서</button>
            <div class="dropdown-content">
                <button type="button" class="report-button" onClick="location.href='/report/tax'">주세 신고서</button>
                <button type="button" class="report-button" onClick="location.href='/report/production'">생산 신고서</button>
                <button type="button" class="report-button" onClick="location.href='/report/materials'">원료 수불부</button>
            </div>
        </div>
    </div>
</div>
<button class="menu-button">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
    </svg>
</button>
<div class="sidebar" id="sidebar">
    <div class="report-list">
        <div class="report-item">
            <button type="button" class="report-button" onClick="location.href='/report/tax'">주세 신고서</button>
        </div>
        <div class="report-item">
            <button type="button" class="report-button" onClick="location.href='/report/production'">생산 신고서</button>
        </div>
        <div class="report-item">
            <button type="button" class="report-button" onClick="location.href='/report/materials'">원료 수불부</button>
        </div>
    </div>
</div>
<div class="container max-w-full mx-auto bg-white shadow-md rounded-lg p-6 mt-3">
    <h1 class="text-2xl font-bold mb-4">주세 신고서 페이지</h1>
    <p>여기에 주세 신고서 내용을 추가하세요.</p>
</div>
<script src="/js/report.js"></script>
</body>
</html>
